* {
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          font-family: 'Arial', sans-serif;
}

:root {
          --blue: #212933;
          --white: #e0e7ec;
          --gray: #99a3a9;
          --grayLight:  #B6BABC;
          /* green */
          --green: #3c4f5e;
          --hGreen: 206;
          --sGreen: 22%;
          --lGreen: 30%;
          /* greenLight */
          --greenLight: #bed0cb;
          /* warn */
          --hWarn: 37;
          --sWarn: 90%;
          --lWarn: 51%;
          --warn: #f39c12;
          /* error */
          --error: #e74c3c;
          --hError: 6;
          --sError: 78%;
          --lError: 57%;
}

::selection {
          background: #99a3a9;
          color: #212933;
}

body {
          background: var(--blue);
}

a {
          color: var(--white);
          text-decoration: none;
}

ul, ol {
    padding-left: 1rem;
}

input,
select,
textarea,
button {
          font-size: 1rem;
          border-radius: 10px;
          padding: .8rem .6em;
          border: none;
          color: var(--green);
          background-color: var(--greenLight);
          outline: none;
          resize: none;
          -webkit-appearance: none;
}
button {
    color: var(--greenLight);
    background-color: var(--green);
    cursor: pointer;
}
button.prominent {
    color: var(--green);
    background-color: var(--greenLight);
    cursor: pointer;
}
button.outline {
    -webkit-appearance: none;
    border: 2px solid var(--greenLight);
    color: var(--greenLight);
    background: transparent;
    cursor: pointer;
}
input,
select,
textarea {
          color: #0f0f0f;
          border: 3px solid var(--gray);
}
input::placeholder,
select::placeholder,
textarea::placeholder {
          font-size: 1rem;
          color: #596e7e;
}
.selectWrap {
          position: relative;
          z-index: 1;
          content: '';
          display: block;
}
.selectWrap::before {
          content: '';
          position: absolute;
          top: 50%;
          right: .6rem;
          transform: rotate(0deg) translateY(-50%);
          border-right: 6px solid transparent;
          border-bottom: 6px solid var(--gray);
          border-left: 6px solid transparent;
          transition: .2s ease-in-out;
}
.selectWrap[focus="true"]:before {
          transform: rotate(180deg) translateY(0%);
}

code {
          font-family: monospace;
          color: var(--grayLight);
          background: var(--blue);
}

/* details (for faq) */
.detailsGroup {
          width: 100%;
          max-width: 640px;
          margin: auto;
          border: 1px solid #cfd8dc;
          border-radius: 5px;
          color: #99A3A8;
          background-color: var(--green);
}

.detailsGroup .details {
          overflow: hidden;
          border-bottom: 1px solid #cfd8dc;
          transition: height 300ms ease-in-out;
}

.detailsGroup .details:last-child {
          border-bottom: 0;
}

.detailsGroup summary,
.detailsGroup .detailsContent {
          padding: 24px;
}

.detailsGroup summary {
          position: relative;
          list-style: none;
          padding-left: 48px;
          outline: 0;
          cursor: pointer;
          font-weight: 600;
          transition: color 300ms ease-in-out;
}

.detailsGroup [open]>summary {
          color: #fff;
}

.detailsGroup summary::-webkit-details-marker {
          display: none;
}

.detailsGroup summary:before,
.detailsGroup summary:after {
          content: "";
          position: absolute;
}

.detailsGroup summary:before {
          left: 20px;
          top: 50%;
          height: 2px;
          margin-top: -1px;
          width: 16px;
          background: #fff;
}

.detailsGroup summary:after {
          left: 28px;
          top: 50%;
          height: 16px;
          margin-top: -8px;
          width: 2px;
          margin-left: -1px;
          background: #fff;
          transition: all 300ms ease-in-out;
}

.detailsGroup [open] summary:after {
          opacity: 0;
          transform: translateY(25%);
}

.detailsGroup .detailsContent {
          padding-top: 0;
          padding-left: 48px;
}

header {
    top: 0px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10001;
}
header .content {
    background: transparent; /* for animation*/
    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1); /* for animation*/
    color: var(--white);
    padding: 1.6rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.visible .content {
    padding: .8rem 5%;
    opacity: 1;
    transform: translateY(0%);
    background: #3c4f5f;
    box-shadow: rgb(0 0 0 / 6%) 0px 6px 24px;
}
header .content h1 {
    font-size: 1rem;
}
header .content a {
    padding: .6rem;
    font-size: .8rem;
    border-radius: 1rem;
    color: var(--green);
    background: var(--greenLight);
}
header .notify {
    padding: .2rem 5%;
    display: grid;
    place-items: center;
    color: #1e1e1e;
}
header .notify[type="warn"] {
    background: #f39c12;
}

/* popup */
/* >> Popup Message << */
.gpt-optimizer.gpto-popupInner {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 90px;
    padding: 0.4rem 0.8rem;
    border: 1px solid #434754;
    border-radius: 10px;
    background: #212933;
}
.gpt-optimizer.gpto-popupInner .gpto-popupHeader {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.2rem;
    justify-content: space-between;
    font-weight: 500;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(67, 71, 84);
    margin-bottom: 1rem;
}
.gpt-optimizer.gpto-popupInner .gpto-popupHeader.noName {
    border-bottom: none;
    justify-content: end;
    margin-bottom: -1rem;
}
.gpt-optimizer.gpto-popupInner .gpto-popupHeader.noName span {
    display: none;
}
.gpt-optimizer.gpto-popupInner .gpto-popupHeader svg {
    height: 1.2rem;
    width: 1.2rem;
}
.gpt-optimizer.gpto-popupInner .gpto-popupHeader button {
    height: 32px;
    width: 32px;
    padding: 0.4rem;
}
.gpt-optimizer.gpto-popupInner .gpto-popupContentWrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto 0;
}